.App button {
  border: none;
  background-color: unset;
  padding: 1em;
  font-weight: bold;
}

.App button.colorful:nth-of-type(3n) {
  background-color: lightgreen;
}

.App button.colorful:nth-of-type(3n + 1) {
  background-color: lightblue;
}

.App button.colorful:nth-of-type(3n + 2) {
  background-color: lightpink;
}

.ViewportPicker button {
  min-width: 25%;
  min-height: 2em;
}

.MenuMinimized {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.MenuMinimized > button {
  background-color: chocolate;
}

.MenuMaximized {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
  text-align: center;
}

.App button.giant {
  display: block;
  width: 100%;
  font-size: 3em;
  padding: 0.5em 0;
}
